@import '../config//mixins';

.header {
    background-color: $blue;
    height: 80px;
    width: 100%;
    display: flex;
    padding-left: 10px;

    @include tablet-portrait {
        height: 102px;
        padding-left: 16px;
    }

    img {
        width: 62px;
        height: 62px;
        margin: auto 0;
        cursor: pointer;

        @include tablet-portrait {
            width: 70px;
            height: 70px;
        }
    }
}
