.card-container {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 95%;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 36px;
}

@media (min-width: 768px) {
  .card-container {
    width: 508px;
    min-height: 680px;
    margin-top: 64px;
  }
}

.card-container img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .card-container img {
    width: 250px;
    height: 250px;
  }
}

.card-container .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 16px 32px 48px;
}

@media (min-width: 768px) {
  .card-container .text {
    padding: 30px 48px 64px;
  }
}

.card-container h2 {
  font-size: 36px;
  line-height: 29px;
  font-weight: normal;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .card-container h2 {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 32px;
  }
}

.card-container p {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .card-container p {
    font-size: 24px;
    line-height: 29px;
  }
}

.header {
  background-color: #3B4CCA;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .header {
    height: 102px;
    padding-left: 16px;
  }
}

.header img {
  width: 62px;
  height: 62px;
  margin: auto 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header img {
    width: 70px;
    height: 70px;
  }
}

.search-wrapper {
  margin: 0 auto;
  position: relative;
}

.search-wrapper .search-container {
  height: 50px;
  position: relative;
}

.search-wrapper .search-container input {
  background-color: #FFDE00;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-size: 24px;
  padding: 16px 0;
  padding-left: 24px;
  padding-right: 48px;
}

.search-wrapper .search-container button {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  border-radius: 50%;
  color: white;
  background-color: #FF0000;
  width: 34px;
  height: 34px;
  font-size: 28px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .search-wrapper.large {
    width: 85%;
    max-width: 860px;
  }
}

.search-wrapper.large .search-container {
  height: 76px;
  margin-top: 56px;
}

@media (min-width: 768px) {
  .search-wrapper.large .search-container {
    margin-top: 48px;
    height: 86px;
  }
}

.search-wrapper.large .search-container input {
  font-size: 36px;
  padding-left: 24px;
  padding-right: 78px;
}

.search-wrapper.large .search-container button {
  width: 60px;
  height: 60px;
  font-size: 48px;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  border: 4px solid #3B4CCA;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.suggestions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  padding: 16px;
  width: 100%;
  border-radius: 16px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.suggestions-container li {
  font-size: 24px;
  cursor: pointer;
}

.suggestions-container li:not(:last-of-type) {
  margin-bottom: 12px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  text-decoration: none;
  color: black;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

button {
  border: none;
  outline: none;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  line-height: 44px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
    max-width: 483px;
  }
}

main.home {
  padding-top: 46px;
}

@media (min-width: 768px) {
  main.home {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main.search {
  padding: 46px 16px 0;
}

@media (min-width: 768px) {
  main.search {
    padding-top: 56px;
    max-width: 720px;
    margin: 0 auto;
  }
}

main.search p {
  margin-top: 16px;
}

body {
  background-color: #E5E5E5;
}

main {
  min-height: calc( 100vh - 80px);
}

@media (min-width: 768px) {
  main {
    min-height: calc( 100vh - 102px);
  }
}

h1 {
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */